<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <!-- Aspect -->
    <bean id="LoggerAspect" class="fr.miage.m2.mailsenderspring.aspect.LoggerAspect"/>
    <bean id="MailSender" class="fr.miage.m2.mailsenderspring.mail.MailSender"/>

    <aop:config>
        <!-- @Before -->
        <aop:pointcut id="beforeReading" expression="execution(* fr.miage.m2.mailsenderspring.mail.MailSender.receive()) "/>

        <!-- @Before -->
        <aop:pointcut id="beforeSending" expression="execution(* fr.miage.m2.mailsenderspring.mail.MailSender.send (java.lang.String, java.lang.String)) "/>

        <aop:aspect id="aspectLogging" ref="LoggerAspect">
            <aop:before method="beforeReadingMails" pointcut-ref="beforeReading"/>
            <aop:before method="beforeSendingMails" pointcut-ref="beforeSending"/>
        </aop:aspect>
    </aop:config>
</beans>